.menu{
    background-color: rgb(211, 206, 223);
    width: 30vw;
    height: 100vw;
    /* text-align: center; */
    box-sizing:;
}

.task{
    background-color: rgb(211, 206, 223);
    width: 30vw;
    height: 100vw;
    /* text-align: center; */
    box-sizing:;
    float: none;
}